<!-- Post, Page Content
================================================== -->
<div class="article-post">

    <div class="yellow_shadow post rect">
        <img src="{{ site.baseurl }}/assets/images/rectanle-yellow.png" class="img-fluid" alt="">
    </div>

    <div class="green_shadow post oct">
        <img src="{{ site.baseurl }}/assets/images/polygon.png" class="img-fluid" alt="">
    </div>

    <div class="yellow_shadow post star"><img src="{{ site.baseurl }}/assets/images/star-yellow.png" alt=""></div>

    <div class="purple-circle post bot"><img src="{{ site.baseurl }}/assets/images/purple-circle.png" alt=""></div>

    <div class="yellow_shadow post left">
        <img src="/assets/images/triangle.png" alt="">
    </div>

    

    <!-- Toc if any -->
    {% if page.toc %}
    {% if page.beforetoc %}
        <p><em>{{page.beforetoc}}</em></p>
    {% endif %}
    <div class="toc mt-4 mb-4 lead">
        <h3 class="font-weight-bold">Summary</h3>
        {% include toc.html html=content %}
    </div>
    {% endif %}
    <!-- End Toc -->
    {% if page.Description %}
    <p class="post-desc">
        <strong>Description</strong> {{page.Description}}
    </p>
        
    {% endif %}

    {{content}}
</div>