<header>
  <div class="container-fluid">
      <nav class="navbar navbar-expand-lg px-0 py-lg-0 justify-content-right">
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navToggle" aria-controls="navToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="my-1 mx-2 close">X</span>
              <span class="navbar-toggler-icon"> <i class="fa fa-bars"></i></span>
          </button>

          <span class="text-right justify-content-right search-icon"><i class="fa fa-search"></i> </span>


          <a class="navbar-brand" href="home.html">Village Childcare</a>
          <div class="navbar-collapse collapse" id="navToggle" style="">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item d-lg-none d-block text-right mb-3">
                      <a href="#" class=""></a>
                      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navToggle" aria-controls="navToggle" aria-expanded="false" aria-label="Toggle navigation">
                          <i class="zmdi zmdi-close"></i>
                      </button>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="https://www.villagechildcare.co/nanny_search.html">Hire a Nanny</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="https://www.villagechildcare.co/price.html">Find a Nanny-Share</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="home.html#cost">Price</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="https://blog.villagechildcare.co/">Blog</a>
                  </li>
                  <li class="nav-item">
                      <a href="/contact" class="nav-link">Contact Us</a>
                  </li>
                  <li class="nav-item">
                      <a href="nanny_application.html" class="nav-link">Nanny Application</a>
                  </li>
              </ul>
          </div>
      </nav>
  </div>


  <section class="search-form m-search">
    <div class="container">
        <div class="row">
            <div class="col-10 col-md-6 col-lg-4  mx-auto">
                <form action="/search/" method="get"> 
                    <div class="input-group">
                        <input type="text" id="search_box" name="query" class="form-control" placeholder="Search">
                        <div class="input-group-append">
                            <button class="btn btn-secondary1" type="submit" value="search">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>

                
            </div>
            <div class="my-1 mx-2 col-1 close-search">X</div>

            

            
        </div>
    </div>                
</section>
</header>