<section class="search-form">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-4  mx-auto">
                <form action="/search/" method="get"> 
                    <div class="input-group">
                        <input type="text" id="search_box" name="query" class="form-control" placeholder="Search">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="submit" value="search">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="yellow_shadow">
                <img src="{{ site.baseurl }}/assets/images/triangle.png" alt="">
            </div>

            
        </div>
    </div>                
</section>