---
layout: default
---
<div class="search">
	<div class="yellow_shadow"><img src="/assets/images/rectangle-green.png" class="img-fluid" alt=""></div>
<div class="container">
	<div class="row">
	  <div class="col-10 mx-auto text-center">
		  <h1>Search Result for <span id="vgsearch">'child'</span></h1>
		  <p>Here's what we found for your request. If this is not what you were looking for, try repeating the query using different keywords.</p>
	  </div>
	</div>
  </div>

  <div class="purple-circle">
		<img src="{{ site.baseurl }}/assets/images/purple-circle.png" class="img-fluid" alt="">
	</div>
	{{ content }}
</div>
